<table cellspacing="0" cellpadding="0" border="0" style="COLOR: #000000;" class="ng-scope">
    <tbody>
    <tr>
      <td style="FONT-SIZE: 10pt; FONT-FAMILY: Verdana, sans-serif; WIDTH: 240px; COLOR: #000000; line-height:12pt" valign="top">
      
      <!-- ngIf: showField('photo') --><span ng-if="showField('photo')" class="ng-scope">
          <img border="0" ng-src="img/273627162_1098201267636844_5912779722011633053_n.jpg" alt="Photo" width="110" style="max-width:110px; height:auto; border:0;" src="img/273627162_1098201267636844_5912779722011633053_n.jpg">
          <br><br>
      </span><!-- end ngIf: showField('photo') -->
          
      <span style="FONT-SIZE: 14pt; COLOR: #1793d2;"><strong class="ng-binding">Misti Khatun</strong></span>
      <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="FONT-SIZE: 10pt; COLOR: #000000;" class="ng-binding ng-scope"><br>web Designer</span><!-- end ngIf: showField('title') -->
      <br><br>
  
          <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="FONT-SIZE: 9pt" class="ng-binding ng-scope"><img ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/mobile-icon.png" alt="phone-icon" border="0" height="16" width="16" style="border:0; height:16px; width:16px" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/mobile-icon.png">&nbsp; 0236547891<br></span><!-- end ngIf: showField('mobile') -->
          <!-- ngIf: showField('phone') --><span ng-if="showField('phone')" style="FONT-SIZE: 9pt" class="ng-binding ng-scope"><img ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/phone-icon.png" alt="phone-icon" border="0" height="16" width="16" style="border:0; height:16px; width:16px" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/phone-icon.png">&nbsp; (800) 555-0199<br></span><!-- end ngIf: showField('phone') -->
          <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="FONT-SIZE: 9pt" class="ng-binding ng-scope"><img ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/email-icon.png" alt="phone-icon" border="0" height="16" width="16" style="border:0; height:16px; width:16px" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/email-icon.png">&nbsp;  mistikatun719@gmail.com<br></span><!-- end ngIf: showField('email') -->
          <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope"><img ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/website-icon.png" alt="phone-icon" border="0" height="16" width="16" style="border:0; height:16px; width:16px" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/website-icon.png">&nbsp; 
              <a href="http://www.mistikhatun.tk" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#000000; font-family:Verdana, sans-serif; font-size:9pt" class="ng-binding">www.mistikhatun.tk</strong></a>		
          </span><!-- end ngIf: showField('website') -->
          
          <br>
          <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" class="ng-binding ng-scope">
              <br><strong class="ng-binding">MMS</strong><br> Bondor bazar<br>Bondor bazar,Signra,Natore
          </span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
  
        </td>
      
      <td style="WIDTH: 171px" valign="top" rowspan="2">
          <!-- ngIf: showField('banner') --><span ng-if="showField('banner')" class="ng-scope">
              <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.who.int/health-topics/coronavirus" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/banner.png" alt="Banner" width="171" style="max-width:171px; height:auto; border:0;" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/banner.png"></a><!-- end ngIf: showField('bannerURL') -->
              <!-- ngIf: !showField('bannerURL') -->
          </span><!-- end ngIf: showField('banner') -->
      </td></tr>
    <tr>
      <td style="FONT-SIZE: 10pt; FONT-FAMILY: Verdana, sans-serif; WIDTH: 240px" valign="bottom">
      
             
         <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="https://www.facebook.com/mistikhatun.tk" target="_blank" rel="noopener"><img border="0" width="28" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/fb.png" alt="facebook icon" style="border:0; height:28px; width:28px" src="https://raw.githubusercontent.com/misti54321/imageicon/main/fb2.png"></a></span><!-- end ngIf: showField('facebookURL') -->



  

              <!-- ngIf: showField('twitterURL') --><span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/mistikhatun.tk" target="_blank" rel="noopener"><img border="0" width="28" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/tt.png" alt="twitter icon" style="border:0; height:28px; width:28px" src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/tt.png"></a></span><!-- end ngIf: showField('twitterURL') -->
              <!-- ngIf: showField('youtubeURL') -->
              <!-- ngIf: showField('linkedinURL') -->
              <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope"><a href="https://www.instagram.com/mistikhatun.tk/" target="_blank" rel="noopener"><img border="0" width="28" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/stay-healthy-at-home2/it.png" alt="instagram icon" style="border:0; height:28px; width:28px" src="https://raw.githubusercontent.com/misti54321/imageicon/main/instragram.png"></a></span><!-- end ngIf: showField('instagramURL') -->
              <!-- ngIf: showField('pinterestURL') -->
          
      </td></tr></tbody></table>